@charset "utf-8";
html {
    height: 100%;
}
body {
    box-sizing: border-box;
    min-height: 100%;
    background-color: #f6f6f6;
    display: -webkit-box;
    position: relative;
    -webkit-box-orient: vertical;
}
.banner {
    position: relative;
}
.circle-big {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.circle-big .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 26%;
    left: 0px;
    text-align: center;
    font-family: "黑体";
    color: #707070;
}
.text p {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}
.circle-small {
    position: absolute;
    width: 22%;
    top: 4px;
    left: 68%;
    -webkit-transform: translate(-50%, 0%);
}
.circle-small .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 32%;
    left: 0px;
    text-align: center;
    font-family: "黑体";
    font-size: 11px;
    color: #353535;
}
.input {
    width: 100%;
    padding: 10px 15px;
}

.input input {
    display: block;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    padding: 6px 12px;
    margin: auto;
    width: 100%;
    font-size: 16px;
    color: #444444;
    line-height: 28px;
}
.header {
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
}
.header .left {
    float: left;
    color: #666666;
}
.header .right a {
    float: right;
    color: #c21a1c;
    text-decoration: underline;
}
.clear {
    clear: both;
}

.content-container .box {
    position: relative;
    width: 100%;
    height: 90px;
    color: #575757;
    margin: 0px;
}
.content-container .box .inner {
    width: 100%;
    height: 100%;
    background: url("/static/images/client/zheshang/text_bg.png") no-repeat;
    background-size: 86% 80%;
    background-position: center center;
}
.content-container .box .centered {
    position: absolute ;
    left: 50%;
    top: 50%;
    font-size: 1.5rem;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
}
.content-container .box .centered .value {
    font-size: 26px;
}
.content-container .box .centered .area {
    margin: -8px 0px 0px 0px;
    font-size: 12px;
}
.chose {
    background: white;
    border: 1px solid #f7a417;
}
.content-container .box.disable {
    color: #b1b1b1;
}
.content-container .box:nth-child(even) {
    border-right: 0px;
}
.content-container .box:nth-child(odd) {
    border-left: 0px;
}
.f_left {
    float: left;
}
.f_right {
    float: right;
}
.info {
    width: 100%;
    padding: 15px;
    font-size: 1.25rem;
    background: white;
    border-top: 1px solid #d4d4d4;
    position: fixed;
    bottom: 0px;
    color: #757575;
}
.info .red {
    color: #ff6c00;
}
.info .orange {
    color: #ff8400;
}
.info .num {
    font-size: 30px;
    padding: 0px 3px;
}
div.button_container {
    line-height: 38px;
}
button {
    color: white;
    border: none;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 3px;
}

.rule {
    padding: 15px;
    margin-bottom: 70px;
    color: #666666;
}
.rule p:first-child {
    font-size: 16px;
    margin: 0;
    padding-bottom: 8px;
}
.rule-content {
    font-size: 14px;
}
.no-exchange {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    padding: 20px 0px;
    margin-bottom: 100px;
    display: none;
}
.no-exchange > div {
    text-align: center;
    font-size: 15px;
    color: #969696;
    width: 100%;
}
.no-exchange img {
    margin: 0 auto;
    text-align: center;
}
#confirm-exchange {
    width: 100%;
    font-size: 1.75rem;
    background: url("/static/images/client/zheshang/gain_action_btn.png") center;
}
#no-product {
    display: none;
    position: absolute;
    width: 100%;
    padding: 0 15px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}
#no-product div {
    width: 100%;
    height: 100%;
}
#modal-loading {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
}
.mask {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000000;
    opacity: 0.4;
}
.am-dimmer-active {
    overflow: auto !important;
}
input,
button,
select,
textarea {
    outline: none;
}
textarea {
    resize: none;
}

*:focus {
    outline: none;
}
input::-webkit-input-placeholder {
    color:#bdbdbd;
}
input:-moz-placeholder {
    color:#bdbdbd;
}
input::-moz-placeholder {
    color:#bdbdbd;
}
input:-ms-input-placeholder {
    color:#bdbdbd;
}

table {
    width: 100%;
    border: 1px solid #d8d8d8;
}
table td {
    width: 50%;
    border-bottom: 1px solid #d8d8d8;
}
table td:nth-child(odd) {
    border-right: 1px solid #d8d8d8;
}